* {

    font-family: sans-serif;

}

.main {

    margin: 1rem;
    font-size: 1em;

}

table, td, th {
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: left;
    padding: 0.6rem;
}

table {
    width: 20rem;
}

button {

    padding: 0.5rem 1rem;
    margin-top: 0.6rem;
    line-height: 1em;
    font-size: 1.2rem;
    width: 20rem;

}


input[type="text"] {

    width: 20rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding: 0.6rem;
    font-size: 0.8rem;

}

h2 {

    margin-bottom: 0.6rem;
    
}

h3 {
    margin-bottom: 0.4rem;
    margin-top: 0.6rem;
}

form label {
    width: 8rem;
    display: inline-block;
}

input[type="radio"] {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

form {

    width: 600px;
    padding: 10px 0px;

}

.error {

    font-size: 1.2rem;
    font-family: arial;
    color: crimson;
    
}

button.checkout {

    width: 28rem;
    
}
