form {

    width: 600px;
    padding: 10px 0px;

}

input {

    width: 80%;
    margin-top: 10px;
    margin-bottom: 5px;

}
.error {

    font-size: 12;
    font-family: arial;
    color: crimson;
    
}